.assign-1-shape-1,
.assign-1-shape-2,
.assign-1-shape-3{
    width: 500px;
    padding: 20px;
}
.assign-1-shape-1{
    background-color: blueviolet;
    background-color: #8a2be2;
}
.assign-1-shape-2{
    background-color: rgba(138, 43, 226, 50%);

}
.assign-1-shape-3{
    background-color: rgba(138, 43, 226, 0.1); 
}
.assign-2-shape-1,
.assign-2-shape-2,
.assign-2-shape-3,
.assign-2-shape-4{
    height: 400px;
    width: 400px;
    background-image: url(images/css-assignment-5-8.png);
    
}
.assign-2-shape-1{
    background-repeat: no-repeat;
}
.assign-2-shape-2{
    background-repeat: repeat-y;
}
.assign-2-shape-3{
    background-repeat: repeat-x;

}


