.position{
    width: 100px;
    height: 100px;
    position: absolute;
}
.green{
    background-color: green;
    z-index: 3;
    top: 30px;
    left: 30px;
}
.red{
    background-color: red;
    z-index:4 ;
    top: 40px;
    left: 40px;
}
.blue{
    background-color: blue;
    z-index: 2;
    top: 20px;
    left: 20px;
}
.black{
    background-color: black;
    top: 30px;
    left: 20px;
}
.position2{
    width: 400px;
    text-align: center;
    border-top: 2px solid #f44336;
    border-bottom: 2px solid #f44336;
    border-right: 2px solid #2196f3;
    border-left: 2px solid #2196f3;
    padding: 20px;
    margin: 20px;
    position: relative;
    background-color: #eeeeee;
}
.top-left{
    position: absolute;
    top: -10px;
    left: -10px;
    border-right: 2px solid #f44336;
    background-color: #2196f3;
    padding-right: 5px;
    padding-left:5px;
    color: white
}
.bottom-left{
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-right: 2px solid #f44336;
    background-color: #2196f3;
    padding-right: 5px;
    padding-left:5px;
    color: white
}

.top-right{
    position: absolute;
    top: -10px;
    right: -10px;
    border-left: 2px solid #f44336;
    background-color: #2196f3;
    padding-right: 5px;
    padding-left:5px;
    color: white
}
.bottom-right{
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-left: 2px solid #f44336;
    background-color: #2196f3;
    padding-right: 5px;
    padding-left:5px;
    color: white
}

table {
    width: 700px;
    margin: 20px auto; 
    border-collapse: collapse;
    background-color: #eeeeee;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
th {
    background-color: #333;
    color: white;
    
}
td img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.control {
    text-align: center;
}
.view-btn {
    background-color: #00aaff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.delete-btn {
    background-color: #ff4081;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}