table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.status {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.progress {
    background-color: green;
}
.open {
    background-color: orange;
}
.on-hold {
    background-color: red;
}